<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login - reg page</title>
</head>
<body>
    <h2>Hello and welcome to our site</h2>

    <!-- === display errors from register form === -->
    {% for message in get_flashed_messages() %}            
        <p style="color: red">{{message}}</p>                   
    {% endfor %}

    <!-- ===== REGISTER ===== -->
     <h3>Register</h3>

     <form action="/users/register" method="post">
        <div>
            first_name:
            <input name="first_name">
        </div>
        <div>
            last_name:
            <input name="last_name">
        </div>
        <div>
            email:
            <input name="email">
        </div>
        <div>
            password:
            <input name="password">
        </div>
        <div>
            confirm_password:
            <input name="confirm_password">
        </div>

        <input type="submit" value="register">
     </form>

</body>
</html>