<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome to dashboard</title>
</head>
<body>
    <h3>welcome user with id: {{session.user_id}}</h3>
    <a href="/parties/new">create a party</a>
    <h4>hello {{logged_user.first_name}}, see all <a href="/users/{{logged_user.id}}/parties"> your parties</a></h4>

    <hr>
    <a href="/logout">logout</a>

    <table border="1">
        <thead>
            <th>What</th>
            <th>Location</th>
            <th>Date</th>
            <th>All ages</th>
            <th>posted by</th>
            <th>actions</th>
        </thead>
        <tbody>
            {% for one_party in all_parties : %}
                <tr>
                    <td>{{one_party.what}}</td>
                    <td>{{one_party.location}}</td>
                    <td>{{one_party.date}}</td>
                    <td>
                        <!-- {{one_party.all_ages}} -->

                        {%  if one_party.all_ages == 1 : %}
                            ✅
                        {% else %}
                            ❌
                        {% endif %}

                    </td>
                    <td>{{one_party.planner.first_name}}</td>
                    <td>
                        <a href="/parties/{{one_party.id}}">view</a> | 

                        <!-- ONLY SHOW THIS IF the current logged in user_id (Session)  -->
                         <!-- is the same as the one_party.planner.id OR one_party.user_id -->

                         {% if session.user_id == one_party.planner.id : %}
                            <a href="/parties/{{one_party.id}}/edit">edit</a> | 
                            <!-- <a href="/parties/{{one_party.id}}/delete">[delete]</a> -->

                            <form action="/parties/{{one_party.id}}/delete" method="post">
                                <input type="hidden" name="id" value="{{one_party.id}}" >
                                <button>delete</button>  
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            
        </tbody>
    </table>

    <!-- {{all_parties}} -->
</body>
</html>